@{
    ViewBag.Title = "About";
}

<article class="site-content">
    
                <p>Artist Daehyun Kim started to create his evocative, mystical Moonassi world out of ink while studying oriental painting in Seoul, South Korea, and has continued to grow it ever since. “The series is my life-time project,” the artist explains on his website. “There is no specific background story or a theory about the drawing. Each drawing is created based on my daily thoughts and feelings. I draw to meditate on myself and others, and to be able to see the whole story of the series in the end.” Daehyun operates out of a world in which the oceans are both shallow and bottomless, light is dark and dark is light, the moon acts as a torch, an eye and a character’s inner being are one and there’s nothing to do but reflect on your own existence all day, and it’s completely spell-binding.</p>
            
    </article>

    