@{
    ViewBag.Title = "Home Page";
}

<article class="site-content">

    <p>
        <q>If the artist can disappear and hide well, people find meaningful and important something from the work. I don't want to disturb the process.</q>
        <site>- Daehyun Kim</site>
    </p>
</article><!-- .site-content -->
<article class="site-content">
    <div class="col-md-12">
        <div class="gal">

            <img src="~/Content/images/1.jpg" alt="">


            <img src="~/Content/images/2.jpg" alt="">

            <img src="~/Content/images/3.jpg" alt="">

            <img src="~/Content/images/4.jpg" alt="">



            <img src="~/Content/images/5.jpg" alt="">
            <img src="~/Content/images/6.jpg" alt="">

            <img src="~/Content/images/7.jpg" alt="">

            <img src="~/Content/images/8.jpg" alt="">
            <img src="~/Content/images/9.jpg" alt="">





        </div>
    </div>
</article>